{% extends "base.html" %}
{% block head %}
    {% block head_extended %}{% endblock %}
{% endblock %}
{% block window %}

<nav class="navbar navbar-expand-sm bg-light" >
    <ul class="navbar-nav">
        <li><a class="navbar-brand" href="{% url 'buses:dashboard' %}"  >Bus tracker</a></li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'buses:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'buses:pos' %}">POS</a>
        </li>
    </ul>
</nav>
<article>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">
                    {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
        
        {% endif %}
    </div>
        {% block content %}{% endblock %}
</article>
<hr class="my-2" />
<footer class="bg-info" style="">
</footer>
<script type="text/javascript">
    $(".ui-date-picker").datepicker();
</script>
{% endblock %}