{% extends "window.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Bus Tracker Dashboard</h1>
    <p class="lead">Manage Schedules, Trips and Buses</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="" role="button">View Schedule</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Manage Buses</h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'buses:create-bus' %}">Add Bus To Tracker</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'buses:create-bus-company' %}">Register a bus Company</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Manage Schedule</h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'buses:create-trip' %}">Create Trip</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'buses:create-schedule' %}">Create Schedule</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Manage Routes</h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'buses:create-route' %}">Create New Route</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'buses:create-route-checkpoint' %}">Add Route Checkpoint</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}